@page
@{
    ViewData["Title"] = "Colors";
}

<div class="container-fluid">
    <div id="ui-view">
        <div>

            <div class="animated fadeIn">
                <div class="card">
                    <div class="card-header">
                        <i class="icon-drop"></i> Theme colors
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="bg-primary theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Brand Primary Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#20a8d8</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(32, 168, 216)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="bg-secondary theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Brand Secondary Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#c8ced3</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(200, 206, 211)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="bg-success theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Brand Success Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#4dbd74</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(77, 189, 116)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="bg-danger theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Brand Danger Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#f86c6b</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(248, 108, 107)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="bg-warning theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Brand Warning Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#ffc107</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(255, 193, 7)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="bg-info theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Brand Info Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#63c2de</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(99, 194, 222)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="bg-light theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Brand Light Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#f0f3f5</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(240, 243, 245)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="bg-dark theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Brand Dark Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#2f353a</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(47, 53, 58)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <i class="icon-drop"></i> Grays
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="bg-gray-100 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Gray 100 Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#f0f3f5</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(240, 243, 245)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="bg-gray-200 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Gray 200 Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#e4e7ea</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(228, 231, 234)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="bg-gray-300 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Gray 300 Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#c8ced3</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(200, 206, 211)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="bg-gray-400 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Gray 400 Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#acb4bc</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(172, 180, 188)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="bg-gray-500 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Gray 500 Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#8f9ba6</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(143, 155, 166)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="bg-gray-600 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Gray 600 Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#73818f</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(115, 129, 143)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="bg-gray-700 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Gray 700 Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#5c6873</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(92, 104, 115)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="bg-gray-800 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Gray 800 Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#2f353a</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(47, 53, 58)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="bg-gray-900 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Gray 900 Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#23282c</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(35, 40, 44)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <i class="icon-drop"></i> Additional colors
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="mb-3 bg-blue theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Blue Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#20a8d8</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(32, 168, 216)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="mb-3 bg-light-blue theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Light Blue Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#000000</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgba(0, 0, 0, 0)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="mb-3 bg-indigo theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Indigo Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#6610f2</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(102, 16, 242)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="mb-3 bg-purple theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Purple Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#6f42c1</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(111, 66, 193)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="mb-3 bg-pink theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Pink Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#e83e8c</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(232, 62, 140)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="mb-3 bg-red theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Red Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#f86c6b</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(248, 108, 107)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="mb-3 bg-orange theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Orange Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#f8cb00</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(248, 203, 0)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="mb-3 bg-yellow theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Yellow Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#ffc107</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(255, 193, 7)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="mb-3 bg-green theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Green Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#4dbd74</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(77, 189, 116)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="mb-3 bg-teal theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Teal Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#20c997</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(32, 201, 151)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                                <div class="mb-3 bg-cyan theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                                <h6>Cyan Color</h6>

                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">HEX:</td>
                                            <td class="font-weight-bold">#17a2b8</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">RGB:</td>
                                            <td class="font-weight-bold">rgb(23, 162, 184)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/coreui/js/colors.js"></script>
}